rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // REGLAS RESTRINGIDAS: SOLO PARA USUARIOS AUTENTICADOS Y PROPIETARIOS DE DOCUMENTOS
    match /{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.ownerId; // Permitir solo al propietario del documento
    }
  }
}